{% extends "base.html.twig" %}

{% block content %}
    <h4>{{ 'vs_catalog.template.latest_products' | trans( {},'VSCatalogBundle' ) }} </h4>
    
    {% include '@VSCatalog/Pages/Catalog/partial/products-block-view.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/product-listing', null, 'BootstrapShopTheme'  ) }}
{% endblock %}
