<div class="locales-menu">
    {% for locale in widget.params.availableLocales %}
        <a href="{{ path( 'app_set_locale', {'locale': locale.code} ) }}">
            <i class="flag flag-{{ ( locale.code | split( '_' ) )[1] | lower }}"></i>
        </a>
    {% endfor %}
</div>