<!-- Copyright Section-->
<div class="copyright py-2 text-center text-white w-100">
    <div class="container">
        <small>
            Copyright &nbsp;&nbsp; &copy; <a href="http://vankosoft.org" class="pe-2" style="color: #ffffff; text-decoration: none;">VankoSoft.Org</a>
            {% if "now"|date("Y") > 2022 %}2022 - {% endif %}{{ "now"|date("Y") }}
        </small>
    </div>
</div>